{block content}
    {form languageSearchForm}
        <ul class="admin-form-errors" n:formErrors></ul>
        {input \adminModule\LanguagePresenter::SEARCH_KEY}
        <a id="search_cancel"
           href="{plink this \adminModule\LanguagePresenter::SEARCH_KEY=>null}"><i
                    class="fa fa-times"></i></a>
        {input submit}
    {/form}
    <a href="{plink add}">{_"admin.language.default.add.label"}</a>
    <table n:snippet="languages">
        {foreach $languages as $lang}
            <tr>
                <td>{$lang->getId()}</td>
                <td>{$lang->getCode()}</td>
                <td>
                    <a
                            href="{plink edit \adminModule\LanguagePresenter::ID_KEY=>$lang->getId()}">{_"admin.language.default.edit.label"}</a>
                </td>
                <td><a class="language-delete"
                       href="{plink delete! $lang->getId()}">{_"admin.language.default.delete.label"}</a>
                </td>
            </tr>
        {/foreach}
    </table>
    {control paginator}
    <script>
        jQuery(document).ready(function ($) {
            $("#{$control->getSnippetId("languages")}").on("click","a.language-delete",function (e) {
                if (!confirm({_"admin.language.default.action.delete.confirm"}))
                    e.preventDefault();
            })
        })
    </script>
{/block}