{block content}
    {form languageSearchForm}
        <ul class="admin-form-errors" n:formErrors></ul>
        {input \adminModule\LanguagePresenter::SEARCH_KEY}
        <a id="search_cancel"
           href="{plink this \adminModule\LanguagePresenter::SEARCH_KEY=>null}"><i
                    class="fa fa-times"></i></a>
        {input submit}
    {/form}
    <a href="{plink add}" id="language-add" class="btn add">{_"admin.language.default.add"}</a>
    <table class="table" n:snippet="languages">
        <thead>
        <tr>
            <td>
                {_"admin.language.default.id"}
            </td>
            <td>
                {_"admin.language.default.code"}
            </td>
            <td>
                {_"admin.language.default.friendly"}
            </td>
            <td>
                {_"admin.language.default.edit"}
            </td>
            <td>
                {_"admin.language.default.delete.label"}
            </td>
        </tr>
        </thead>
        {foreach $languages as $lang}
            <tr>
                <td>{$lang->getId()}</td>
                <td>{$lang->getCode()}</td>
                <td>{$lang->getFriendly()}</td>
                <td>
                    <a class="language-edit"
                            href="{plink edit \adminModule\LanguagePresenter::ID_KEY=>$lang->getId()}">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td><a class="language-delete"
                       href="{plink delete! $lang->getId()}">
                    <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {/foreach}
    </table>
    {control paginator}
    <script>
        jQuery(document).ready(function ($) {
            $("#{$control->getSnippetId("languages")}").on("click","a.language-delete",function (e) {
                if (!confirm({_"admin.language.default.delete.confirm"}))
                    e.preventDefault();
            })
        })
    </script>
{/block}