{block content}
    {control languageEditForm}
    <a id="language-delete" class="btn delete"
       href="{plink delete! $id}">
        <i class="fa fa-trash"></i>
        {_"admin.language.edit.action.delete.label"}
    </a>
    <script>
        _stack.push(function (di) {
            jQuery(document).ready(function ($) {
                $("a#language-delete").click(function (e) {
                    if (!confirm({_"admin.language.edit.action.delete.confirm"}))
                        e.preventDefault();
                })
            })
        })
    </script>
{/block}