@import "default";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900&subset=latin-ext');

$colorOnBackground: #f5f6fa;
$background: #2f3640;

html {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

  font-family: "Open Sans", sans-serif, Arial, Verdana, "Trebuchet MS";

  padding: 0;
  margin: 0;

  box-sizing: border-box;
  body {
    color: $colorOnBackground;
    background-color: $background;

    padding: 0;
    margin: 0;

    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "top top" "nav main" "nav main";
    grid-auto-rows: 0px;
    grid-auto-columns: 0px;
    header {
      grid-area: nav;
      background-color: $background;
      padding: 20px 40px;

      nav#sidenav {
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            a {
              line-height: 1.7em;
              &:hover {
                color: #7f8fa6
              }
            }
          }
        }
      }
    }
    div#snippet--admin-header-bar {
      grid-area: top;
      display: flex;
      justify-content: space-between;

      background-color: black;
      padding: 10px;

      #logout {
        color: #c23616;
      }

      a {
        text-decoration: none;
        @extend .scale;
        &:hover {
          color: #7f8fa6;
        }

        &#logout {
          @extend .big;
        }
      }
    }
    #snippet--content {
      grid-area: main;

      #contentWrapper {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        display: flex;
        flex-direction: column;

        padding: 20px;

        #homeWelcome {
          text-align: center;
        }

        &:not(.login-default) {
          background-color: white; //$colorOnBackground;
          color: black;
        }
        &.login-default {
          justify-content: center;
          #content {
            align-self: center;
            justify-self: center;

            .btn.submit {
              background-color: #f5f6fa;
              color: #192a56 !important;
              margin: 0;
              &:hover {
                background-color: #dcdde1;
              }
            }
          }
        }

        &.page-show {
          form {
            display: inline-flex;
          }
          #content {

            & > div {
              padding: 5px;

              #filter {
                div {
                  &#page-search-form {
                    padding-bottom: 5px;
                  }
                  display: inline-block;
                }

              }
            }
            #pages {
              table {
                tbody {
                  td {
                    vertical-align: middle;
                    a {
                      &.page-edit {
                        color: #273c75;
                        &:hover {
                          color: #192a56;
                        }
                      }
                      &.page-delete {
                        color: #c23616;
                        &:hover {
                          color: #e84118;
                        }
                      }
                    }
                  }
                }
              }

            }
          }
        }
        &.page-edit {
          .admin-form {
            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-columns: 1fr auto;
            grid-template-areas: "errors errors" "main side";

            div {
              &.spacer {
                margin-top: 10px;
                display: block;

                & > label {
                  display: block;
                  //  margin-top: 10px;
                }
              }
            }

            .admin-form-errors {
              grid-area: errors;
            }
            #form-main {
              grid-area: main;
              padding: 15px;
              #url-content-wrapper {
                display: block;
              }
            }
            #form-side {
              border-left: solid 1px #2f3640;
              padding: 15px;
              grid-area: side;
              #controls {
                color: #f5f6fa;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-content: center;
                a {
                  margin: auto 3px;
                }
              }
            }
          }
        }
        &.language-default {

          table a {
            &.language-delete:hover {
              color: #e84118;
            }
            &.language-edit {
              color: #353b48;
              &:hover {
                color: #2f3640;
              }
            }
          }
        }
        &.language-edit {
          #language-delete {
            align-self: center;
          }
        }
        &.header-default, &.header-add, &header-edit {
          #content {

            #header-edit-form-wrapper {
              display: none;
              z-index: 2;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              justify-content: center;
              align-content: center;
              background-color: rgba(53, 59, 72, 0.95); //#353b48

              .bootstrap-switch-id-type-switcher {
                align-self: center;
                &.bootstrap-switch-on ~ #tab-page,
                &.bootstrap-switch-off ~ #tab-custom {
                  display: block;
                }
                & ~ div, & ~ label[for=type-switcher] {
                  display: none;
                }
              }
              #type-switcher {
                &:not(:checked) ~ #tab-custom,
                &:checked ~ #tab-page {
                  display: block;
                }
                & ~ div {
                  display: none;
                }
              }

              #edit-form-close {
                position: absolute;
                top: 20px;
                right: 20px;
                display: none;
                color: white;
                font-size: 2em;
              }

              &.active {
                display: flex;
                #edit-form-close {
                  display: block;
                }
              }
              #snippet--edit-form {
                display: flex;

                & > div {
                  align-self: center;
                  display: flex;
                  align-content: center;
                  justify-content: center;
                  flex-direction: column;
                  flex-wrap: wrap;
                }
              }
            }

            ol.header-children {
              list-style-type: none;

              li.header-item {
                margin: 10px 0;
                & > div {
                  border: 1px solid #718093;
                  & > div {
                    padding: 5px;
                    &.header-item-controls {
                      background-color: #f5f6fa;
                      border-bottom: 1px solid #dcdde1;

                      display: flex;
                      align-content: center;
                    }
                    &.header-item-content {
                      & > span {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.file-default {
          .file-item {
            .preview {
              width: 120px;
              height: 150px;
              padding: 10px;
              display: inline-flex;
              align-content: center;
              vertical-align: center;
              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
            .content {
              span {
                display: block;
              }
            }
          }
        }

        #page-titles {
          margin-bottom: 20px;

          & > h1, & > h2 {
            text-align: center;
            margin: 0;
          }
        }
        #content {
          flex-direction: column;
          align-self: stretch;
          //justify-content: center;
          display: flex;
          padding-bottom: 100px;
          & > form {
            align-self: center;
          }

        }

      }
    }
    form {
      .admin-form-errors {
        &:empty {
          margin: 0;
          padding: 0;
        }
        li {
          &.error {
            color: #e84118;
          }
        }
      }

    }
    #content > .btn {
      align-self: flex-start;
    }
    .btn {
      box-shadow: none !important;
      margin: 0 3px;
      background-color: #353b48;
      border-color: #353b48;
      color: #f5f6fa !important;
      display: inline-block;
      &:hover {
        background-color: #2f3640;
        border-color: #2f3640;
      }
      &.delete {
        background-color: #e84118;
        border-color: #e84118;
        &:hover {
          background-color: #c23616;
          border-color: #c23616;
        }
      }
      &.visit {
        background-color: #fbc531;
        border-color: #fbc531;
        &:hover {
          background-color: #e1b12c;
          border-color: #e1b12c;
        }
      }
    }
    /*input {
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;

      border: solid 1px $background;
      padding: 5px;

      font-size: 1em;

      &:hover, &:focus, &:active {
        -webkit-box-shadow: 1px 1px 5px 0px $background;
        -moz-box-shadow: 1px 1px 5px 0px $background;
        box-shadow: 1px 1px 5px 0px $background;
      }
      &[type=submit] {
        background: $background;
        color: $colorOnBackground;
      }
    }
*/
    table.table thead td {
      font-weight: bold;
    }
    td > input {
      width: 100%;
    }
    .fr-view a,.fr-element a{
      text-decoration: underline;
    }
  }

}