/*if just * was used, you could see the title and scripts xd lmao*/
body {
  padding: 0;
  margin: 0; }
  body, body :not([class^="ui-"]):not([class^="fr-"]):not(.fa) {
    box-sizing: inherit;
    font-family: inherit;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -ms-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    text-decoration: inherit; }
    body:not(input):not(textarea):not(select):not(option):not(body), body :not([class^="ui-"]):not([class^="fr-"]):not(.fa):not(input):not(textarea):not(select):not(option):not(body) {
      color: inherit; }
  body:not(p, span, a) {
    display: block; }
  body:not(textarea) {
    transition: inherit; }
  body textarea.oneline {
    resize: none; }
  body .center-all {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  body .scale, html body div#snippet--admin-header-bar a {
    display: inline-block; }
    body .scale.big:hover, html body div#snippet--admin-header-bar a.big:hover, html body div#snippet--admin-header-bar a#logout:hover, body .scale.big:hover *, html body div#snippet--admin-header-bar a.big:hover *, html body div#snippet--admin-header-bar a#logout:hover * {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3); }
    body .scale:not(.big):hover, html body div#snippet--admin-header-bar a:not(.big):hover, body .scale:not(.big):hover *, html body div#snippet--admin-header-bar a:not(.big):hover * {
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      transform: scale(1.02); }
  body .link {
    padding: 2px;
    cursor: pointer; }
  body .nice-button, html body #snippet--content #contentWrapper.language-default #language-add {
    width: 60px;
    text-align: center;
    padding: 10px;
    background: #00a8ff;
    margin: 10px 0px; }
    body .nice-button:hover, html body #snippet--content #contentWrapper.language-default #language-add:hover {
      background-color: #0097e6; }
  body #snippet--flashes {
    position: relative; }
    body #snippet--flashes #flashes {
      list-style-type: none;
      padding: 20px 10px 20px; }
      body #snippet--flashes #flashes li.nittro-flash {
        color: #f5f6fa; }
        body #snippet--flashes #flashes li.nittro-flash::before {
          border: none; }
        body #snippet--flashes #flashes li.nittro-flash.nittro-flash-error {
          background-color: #e84118; }
        body #snippet--flashes #flashes li.nittro-flash.nittro-flash-success {
          background-color: #4cd137; }
        body #snippet--flashes #flashes li.nittro-flash.nittro-flash-info {
          background-color: #00a8ff; }
        body #snippet--flashes #flashes li.nittro-flash.nittro-flash-warn {
          background-color: #fbc531; }
      body #snippet--flashes #flashes:empty {
        padding: 0;
        margin: 0; }
        body #snippet--flashes #flashes:empty ~ #flash-closer {
          display: none; }
    body #snippet--flashes #flash-closer {
      position: absolute;
      right: 10px;
      top: 20px; }

html {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-family: "Open Sans", sans-serif, Arial, Verdana, "Trebuchet MS";
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  html body {
    color: #f5f6fa;
    background-color: #2f3640;
    padding: 0;
    margin: 0;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "top top" "nav main" "nav main";
    grid-auto-rows: 0px;
    grid-auto-columns: 0px;
    /*input {
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;

      border: solid 1px $background;
      padding: 5px;

      font-size: 1em;

      &:hover, &:focus, &:active {
        -webkit-box-shadow: 1px 1px 5px 0px $background;
        -moz-box-shadow: 1px 1px 5px 0px $background;
        box-shadow: 1px 1px 5px 0px $background;
      }
      &[type=submit] {
        background: $background;
        color: $colorOnBackground;
      }
    }
*/ }
    html body header {
      grid-area: nav;
      background-color: #2f3640;
      padding: 20px 40px; }
      html body header nav#sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0; }
        html body header nav#sidenav ul li a {
          line-height: 1.7em; }
          html body header nav#sidenav ul li a:hover {
            color: #7f8fa6; }
    html body div#snippet--admin-header-bar {
      grid-area: top;
      display: flex;
      justify-content: space-between;
      background-color: black;
      padding: 10px; }
      html body div#snippet--admin-header-bar #logout {
        color: #c23616; }
      html body div#snippet--admin-header-bar a {
        text-decoration: none; }
        html body div#snippet--admin-header-bar a:hover {
          color: #7f8fa6; }
    html body #snippet--content {
      grid-area: main; }
      html body #snippet--content #contentWrapper {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding: 20px; }
        html body #snippet--content #contentWrapper:not(.login-default) {
          background-color: white;
          color: black; }
        html body #snippet--content #contentWrapper.login-default {
          justify-content: center; }
          html body #snippet--content #contentWrapper.login-default #content {
            align-self: center;
            justify-self: center; }
            html body #snippet--content #contentWrapper.login-default #content .btn.submit {
              background-color: #f5f6fa;
              color: #192a56 !important;
              margin: 0; }
              html body #snippet--content #contentWrapper.login-default #content .btn.submit:hover {
                background-color: #dcdde1; }
        html body #snippet--content #contentWrapper.page-show form {
          display: inline-flex; }
        html body #snippet--content #contentWrapper.page-show #content > div {
          padding: 5px; }
          html body #snippet--content #contentWrapper.page-show #content > div #filter div {
            display: inline-block; }
            html body #snippet--content #contentWrapper.page-show #content > div #filter div#page-search-form {
              padding-bottom: 5px; }
        html body #snippet--content #contentWrapper.page-show #content #pages table tbody td {
          vertical-align: middle; }
          html body #snippet--content #contentWrapper.page-show #content #pages table tbody td a.page-edit {
            color: #273c75; }
            html body #snippet--content #contentWrapper.page-show #content #pages table tbody td a.page-edit:hover {
              color: #192a56; }
          html body #snippet--content #contentWrapper.page-show #content #pages table tbody td a.page-delete {
            color: #2f3640; }
            html body #snippet--content #contentWrapper.page-show #content #pages table tbody td a.page-delete:hover {
              color: #e84118; }
        html body #snippet--content #contentWrapper.page-edit .admin-form {
          display: grid;
          grid-template-rows: auto 1fr;
          grid-template-columns: 1fr auto;
          grid-template-areas: "errors errors" "main side"; }
          html body #snippet--content #contentWrapper.page-edit .admin-form div.spacer {
            margin-top: 10px;
            display: block; }
            html body #snippet--content #contentWrapper.page-edit .admin-form div.spacer > label {
              display: block; }
          html body #snippet--content #contentWrapper.page-edit .admin-form .admin-form-errors {
            grid-area: errors; }
          html body #snippet--content #contentWrapper.page-edit .admin-form #form-main {
            grid-area: main;
            padding: 15px; }
            html body #snippet--content #contentWrapper.page-edit .admin-form #form-main #url-content-wrapper {
              display: block; }
          html body #snippet--content #contentWrapper.page-edit .admin-form #form-side {
            border-left: solid 1px #2f3640;
            padding: 15px;
            grid-area: side; }
            html body #snippet--content #contentWrapper.page-edit .admin-form #form-side #controls {
              color: #f5f6fa;
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              align-content: center; }
              html body #snippet--content #contentWrapper.page-edit .admin-form #form-side #controls a {
                margin: auto 3px; }
        html body #snippet--content #contentWrapper.language-default table a.language-delete:hover {
          color: #e84118; }
        html body #snippet--content #contentWrapper.language-default table a.language-edit {
          color: #353b48; }
          html body #snippet--content #contentWrapper.language-default table a.language-edit:hover {
            color: #2f3640; }
        html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper {
          display: none;
          z-index: 2;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-content: center;
          background-color: rgba(53, 59, 72, 0.95); }
          html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher {
            align-self: center; }
            html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher.bootstrap-switch-on ~ #tab-page, html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher.bootstrap-switch-off ~ #tab-custom, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher.bootstrap-switch-on ~ #tab-page, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher.bootstrap-switch-off ~ #tab-custom, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher.bootstrap-switch-on ~ #tab-page, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher.bootstrap-switch-off ~ #tab-custom {
              display: block; }
            html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher ~ div, html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher ~ label[for=type-switcher], html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher ~ div, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher ~ label[for=type-switcher], html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher ~ div, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper .bootstrap-switch-id-type-switcher ~ label[for=type-switcher] {
              display: none; }
          html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper #type-switcher:not(:checked) ~ #tab-custom, html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper #type-switcher:checked ~ #tab-page, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper #type-switcher:not(:checked) ~ #tab-custom, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper #type-switcher:checked ~ #tab-page, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper #type-switcher:not(:checked) ~ #tab-custom, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper #type-switcher:checked ~ #tab-page {
            display: block; }
          html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper #type-switcher ~ div, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper #type-switcher ~ div, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper #type-switcher ~ div {
            display: none; }
          html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper #edit-form-close, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper #edit-form-close, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper #edit-form-close {
            position: absolute;
            top: 20px;
            right: 20px;
            display: none;
            color: white;
            font-size: 2em; }
          html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper.active, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper.active, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper.active {
            display: flex; }
            html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper.active #edit-form-close, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper.active #edit-form-close, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper.active #edit-form-close {
              display: block; }
          html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper #snippet--edit-form, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper #snippet--edit-form, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper #snippet--edit-form {
            display: flex; }
            html body #snippet--content #contentWrapper.header-default #content #header-edit-form-wrapper #snippet--edit-form > div, html body #snippet--content #contentWrapper.header-add #content #header-edit-form-wrapper #snippet--edit-form > div, html body #snippet--content #contentWrapperheader-edit #content #header-edit-form-wrapper #snippet--edit-form > div {
              align-self: center;
              display: flex;
              align-content: center;
              justify-content: center;
              flex-direction: column;
              flex-wrap: wrap; }
        html body #snippet--content #contentWrapper.header-default #content ol.header-children, html body #snippet--content #contentWrapper.header-add #content ol.header-children, html body #snippet--content #contentWrapperheader-edit #content ol.header-children {
          list-style-type: none; }
          html body #snippet--content #contentWrapper.header-default #content ol.header-children li.header-item, html body #snippet--content #contentWrapper.header-add #content ol.header-children li.header-item, html body #snippet--content #contentWrapperheader-edit #content ol.header-children li.header-item {
            margin: 10px 0; }
            html body #snippet--content #contentWrapper.header-default #content ol.header-children li.header-item > div, html body #snippet--content #contentWrapper.header-add #content ol.header-children li.header-item > div, html body #snippet--content #contentWrapperheader-edit #content ol.header-children li.header-item > div {
              border: 1px solid #718093; }
              html body #snippet--content #contentWrapper.header-default #content ol.header-children li.header-item > div > div, html body #snippet--content #contentWrapper.header-add #content ol.header-children li.header-item > div > div, html body #snippet--content #contentWrapperheader-edit #content ol.header-children li.header-item > div > div {
                padding: 5px; }
                html body #snippet--content #contentWrapper.header-default #content ol.header-children li.header-item > div > div.header-item-controls, html body #snippet--content #contentWrapper.header-add #content ol.header-children li.header-item > div > div.header-item-controls, html body #snippet--content #contentWrapperheader-edit #content ol.header-children li.header-item > div > div.header-item-controls {
                  background-color: #f5f6fa;
                  border-bottom: 1px solid #dcdde1;
                  display: flex;
                  align-content: center; }
                html body #snippet--content #contentWrapper.header-default #content ol.header-children li.header-item > div > div.header-item-content > span, html body #snippet--content #contentWrapper.header-add #content ol.header-children li.header-item > div > div.header-item-content > span, html body #snippet--content #contentWrapperheader-edit #content ol.header-children li.header-item > div > div.header-item-content > span {
                  display: block; }
        html body #snippet--content #contentWrapper.file-default .file-item .preview {
          width: 120px;
          height: 150px;
          padding: 10px;
          display: inline-flex;
          align-content: center;
          vertical-align: center; }
          html body #snippet--content #contentWrapper.file-default .file-item .preview img {
            max-width: 100%;
            max-height: 100%; }
        html body #snippet--content #contentWrapper.file-default .file-item .content span {
          display: block; }
        html body #snippet--content #contentWrapper #page-titles {
          margin-bottom: 20px; }
          html body #snippet--content #contentWrapper #page-titles > h1, html body #snippet--content #contentWrapper #page-titles > h2 {
            text-align: center;
            margin: 0; }
        html body #snippet--content #contentWrapper #content {
          flex-direction: column;
          align-self: stretch;
          justify-content: center;
          display: flex;
          padding-bottom: 100px; }
          html body #snippet--content #contentWrapper #content > form {
            align-self: center; }
    html body form .admin-form-errors:empty {
      margin: 0;
      padding: 0; }
    html body form .admin-form-errors li.error {
      color: #e84118; }
    html body #content > .btn {
      align-self: flex-start; }
    html body .btn {
      box-shadow: none !important;
      margin: 0 3px;
      background-color: #353b48;
      border-color: #353b48;
      color: #f5f6fa !important;
      display: inline-block; }
      html body .btn:hover {
        background-color: #2f3640;
        border-color: #2f3640; }
      html body .btn.delete {
        background-color: #e84118;
        border-color: #e84118; }
        html body .btn.delete:hover {
          background-color: #c23616;
          border-color: #c23616; }
      html body .btn.visit {
        background-color: #fbc531;
        border-color: #fbc531; }
        html body .btn.visit:hover {
          background-color: #e1b12c;
          border-color: #e1b12c; }
    html body table.table thead td {
      font-weight: bold; }
    html body td > input {
      width: 100%; }

/*# sourceMappingURL=admin.css.map */
