@import "default";

$colorOnBackground: #f5f6fa;
$background: #2f3640;

html {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

  font-family: "Open Sans", sans-serif, Arial, Verdana, "Trebuchet MS";

  padding: 0;
  margin: 0;

  box-sizing: border-box;
  body {
    color: $colorOnBackground;
    background-color: $background;

    padding: 0;
    margin: 0;

    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "top top" "nav main" "nav main";
    grid-auto-rows: 0px;
    grid-auto-columns: 0px;
    header {
      grid-area: nav;
      background-color: $background;
      padding: 20px 40px;

      nav#sidenav {
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            a {
              line-height: 1.7em;
              &:hover {
                color: #7f8fa6
              }
            }
          }
        }
      }
    }
    div#snippet--admin-header-bar {
      grid-area: top;
      display: flex;
      justify-content: space-between;

      background-color: black;
      padding: 10px;

      #logout {
        color: #c23616;
      }

      a {
        text-decoration: none;
        @extend .scale;
        &:hover {
          color: #7f8fa6;
        }

        &#logout {
          @extend .big;
        }
      }
    }
    #snippet--content {
      grid-area: main;

      #contentWrapper {
        height: 100%;
        width: 100%;
        overflow-y: auto;

        display: flex;
        flex-direction: column;

        padding: 20px;

        &:not(.login-default) {
          background-color: white; //$colorOnBackground;
          color: black;
        }
        &.login-default {
          justify-content: center;
        }

        &.page-show {
          #content {

            & > div {
              padding: 5px;

              #filter {
                div {
                  &#page-search-form {
                    padding-bottom: 5px;
                  }
                  display: inline-block;
                }

              }
            }
            #pages {
              table {
                tbody {
                  td {
                    vertical-align: middle;
                    a {
                      &.page-edit {
                        color: #273c75;
                        &:hover {
                          color: #192a56;
                        }
                      }
                      &.page-delete {
                        color: #2f3640;
                        &:hover {
                          color: #e84118;
                        }
                      }
                    }
                  }
                }
                thead td {
                  font-weight: bold;
                }
              }

            }
          }
        }

        &.header-default {
          #content {
            ol.header-children {
              list-style-type: none;

              li.header-item {
                margin: 10px 0;
                & > div {
                  border: 1px solid #718093;
                  & > div {
                    padding: 5px;
                    &.header-item-controls {
                      background-color: #f5f6fa;
                      border-bottom: 1px solid #dcdde1;
                    }
                    &.header-item-content {
                      & > span {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        & > h1, & > h2 {
          text-align: center;
          margin: 0;
        }
        #snippet--flashes {
          position: relative;
          #flashes {
            list-style-type: none;

            padding: 20px 10px 20px;

            li.nittro-flash {
              color: #f5f6fa;
              &::before {
                border: none;
              }
              &.nittro-flash-error {
                background-color: #e84118;

              }
              &.nittro-flash-success {
                background-color: #4cd137;
              }
            }
            &:empty {
              padding: 0;

              margin: 0;
              & ~ #flash-closer {
                display: none;
              }
            }
          }

          #flash-closer {
            position: absolute;
            right: 10px;
            top: 20px;
          }
        }

        #content {
          flex-direction: column;
          align-self: stretch;

          display: flex;
          justify-content: center;
          padding-bottom: 50px;

          /*#content {
            display: block;
          }*/

        }

      }
    }
    form {
      .admin-form-errors:empty {
        margin: 0;
      }
    }
    input {
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;

      border: solid 1px $background;
      padding: 5px;

      font-size: 1em;

      &:hover, &:focus, &:active {
        -webkit-box-shadow: 1px 1px 5px 0px $background;
        -moz-box-shadow: 1px 1px 5px 0px $background;
        box-shadow: 1px 1px 5px 0px $background;
      }
      &[type=submit] {
        background: $background;
        color: $colorOnBackground;
      }
    }

    td > input {
      width: 100%;
    }
  }

}