@import "default";

$colorOnBackground: #f5f6fa;
$background: #2f3640;

html {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

  font-family: "Open Sans", sans-serif, Arial, Verdana, "Trebuchet MS";

  padding: 0;
  margin: 0;

  box-sizing: border-box;
  body {
    color: $colorOnBackground;
    background-color: $background;

    padding: 0;
    margin: 0;

    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "top top" "nav main" "nav main";
    grid-auto-rows: 0px;
    grid-auto-columns: 0px;
    header {
      grid-area: nav;
      background-color: $background;
      padding: 20px 40px;

      nav#sidenav {
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            a {
              line-height: 1.7em;
              &:hover {
                color: #7f8fa6
              }
            }
          }
        }
      }
    }
    div#snippet--admin-header-bar {
      grid-area: top;
      display: flex;
      justify-content: space-between;

      background-color: black;
      padding: 10px;

      #logout {
        color: #c23616;
      }

      a {
        text-decoration: none;
        @extend .scale;
        &:hover {
          color: #7f8fa6;
        }

        &#logout {
          @extend .big;
        }
      }
    }
    #snippet--content {
      grid-area: main;
      overflow-y: auto;

      display: flex;
      flex-direction: column;

      padding: 20px;

      &:not(.login-default) {
        background-color: $colorOnBackground;
        color: black;
      }
      &.login-default {
        justify-content: center;
      }

      & > h1, & > h2 {
        text-align: center;
        margin: 0;
      }

      #flashes {
        color: red;
        &:empty ~ #flash-closer {
          display: none;
        }
      }

      #content {
        align-self: stretch;

        display: flex;
        justify-content: center;

        #page-show {
          width: 100%;
          display: grid;
          grid-template-rows: auto auto auto;
          grid-template-areas: "filter" "create" "pages";

          & > * {
            padding: 10px;
          }

          #filter {
            grid-area: filter;
            display: grid;

            &.active {

            }
          }
          #create {
            grid-area: create;
          }
          #pages {
            grid-area: pages;
          }
        }

        /*#content {
          display: block;
        }*/

      }

    }
    form {
      .admin-form-errors:empty {
        margin: 0;
      }
    }
    input {
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;

      border: solid 1px $background;
      padding: 5px;

      font-size: 1em;

      &:hover, &:focus, &:active {
        -webkit-box-shadow: 1px 1px 5px 0px $background;
        -moz-box-shadow: 1px 1px 5px 0px $background;
        box-shadow: 1px 1px 5px 0px $background;
      }
      &[type=submit] {
        background: $background;
        color: $colorOnBackground;
      }
    }

    td > input {
      width: 100%;
    }
  }

}