@import "default";

$color1: "white";
$color2: "black";

//use body to overwrite it in specific

//theme - styles that aren't specific to screen size and browser and stuff
body {
  header {

  }
}

html {
  /* inheritance */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  //overflow-y: scroll;

  -webkit-transition: 0.1s all ease-out;
  -moz-transition: 0.1s all ease-out;
  -ms-transition: 0.1s all ease-out;
  -o-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
  font-family: "Open Sans", sans-serif;

  //mobile first
  body {
    background-color: $color1;
    * {
      color: $color2;
    }
    #snippet--admin-header-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      //border-bottom: 2px solid $color2;
      background-color: $color2;
      padding: 10px;

      * {
        color: $color1;
      }
      #logout {
        &:hover > i {
          color: red;
        }
      }
    }

    header {
      top: 0;
      left: 0;
      padding: 10px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      color: #273c75;
      border-bottom: 3px solid #8c7ae6;

      & > input.header-toggler ~ label > i {
        color: #8c7ae6;
      }

      input.header-toggler {
        display: none;
        &:checked ~ label > i.collapse {
          display: initial;
        }
        &:not(:checked) ~ label > i.expand {
          display: initial;
        }
        &:checked ~ nav {
          height: 100%;
        }
        &:checked ~ ul {
          height: initial;
        }
        &:checked ~ nav, &:checked ~ ul {
          width: initial;
        }

      }
      label {
        &.small {
          i.expand, i.collapse {
            font-size: 1em;
          }
        }
        i.expand, i.collapse {
          font-size: 2em;
          @extend .link;
          @extend .big;
          @extend .scale;
          cursor: pointer;
          display: none;
        }
      }
      nav {
        height: 0;
        width: 0;
        overflow: hidden;

        & > ul {
          height: initial !important;
          width: initial !important;
        }
        ul {
          list-style-type: none;
          height: 0;
          width: 0;
          padding-left: 15px;
          margin: 0;
          overflow: hidden;

          li {
            //min-width: 320px;
            a, i {
              font-size: 1.25em;
              color: white;
            }

          }

        }
      }
    }
    main {
      #content {
        margin: 0 auto;
        padding: 15px;
        width: 70vw;
        min-width: 320px;
        &[data-page-id="11"] {
          hr {
            border-width: 2px;
            &:nth-of-type(1) {
              border-color: #9c88ff;
            }
          }
          h1, h2, h3 {
            text-align: center;
          }
          #top {
            text-align: center;
            img {
              height: auto;
              width: auto;
            }
            h1 {
              color: #4cd137;
            }
          }
          #what-is-this {
            h2 {
              color: #fbc531;
            }
          }
        }
      }
    }
  }

  //modern last
  /* use this instead of display:grid because of Edge - thank you, Microsoft*/
  @supports (grid-area: auto) {

  }
  .nittro-transition-bar::before {
    background-color: #4cd137;
  }
}