@import "default";
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&subset=latin-ext');

$color1: "white";
$color2: "black";

$contentWidth: 70vw;
$contentPadding: 1em;

$firstMediaTag: 46em;
$secondMediaTag: 28em;

$headerLabelPosition: .5em;
$headerHeight: 1em + (2* $headerLabelPosition);

html {
  /* inheritance */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 2em;
  //overflow-y: scroll;

  -webkit-transition: 0.1s all ease-out;
  -moz-transition: 0.1s all ease-out;
  -ms-transition: 0.1s all ease-out;
  -o-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
  font-family: 'Catamaran', sans-serif;
  //mobile first
  body {
    font-family: 'Catamaran', sans-serif;
    background-color: $color1;
    * {
      color: $color2;
    }

    &.nittro-transition-bar::before {
      background-color: #440381;
    }
    #snippet--admin-header-bar {
      font-size: 0.7em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      //border-bottom: 2px solid $color2;
      background-color: $color2;

      &:not(:empty){
        padding: 10px;
      }

      * {
        color: $color1;
      }
      #logout {
        &:hover > i {
          color: #e63946;
        }
      }
    }

    header {

      #header-content {
        position: absolute;
        //padding: 10px;
        background-color: #440381;
        height: $headerHeight;
        width: 100%;
        color: white;

        &[data-page-id="1"] {
          background-color: transparent;;
          nav {
            background-color: rgba(0, 0, 0, 0.3);
          }
        }

        & > input.header-toggler ~ label > i {
          vertical-align: middle;
          //color: #440381;
          //color: white;
        }

        input.header-toggler {
          display: none;
          &:checked ~ label > i.collapse {
            display: initial;
          }
          &:not(:checked) ~ label > i.expand {
            display: initial;
          }
          &:checked ~ nav {
            padding-top: $headerHeight;
            padding-left: $headerLabelPosition;
            padding-bottom: 0.5em;
            height: auto;
            width: 100% !important;
          }
          &:checked ~ ul {
            height: initial;
          }
          &:checked ~ nav, &:checked ~ ul {
            width: initial;
          }

        }
        label {
          line-height: 1;
          position: absolute;
          top: $headerLabelPosition;
          left: $headerLabelPosition;
          margin: 0;
          z-index: 3;
          &.small {
            i.expand, i.collapse {
              font-size: 1em;
            }
          }
          i.expand, i.collapse {
            font-size: 1em;
            @extend .link;
            @extend .big;
            @extend .scale;
            cursor: pointer;
            display: none;
          }
        }
        nav {
          z-index: 2;
          height: 0;
          width: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;

          background-color: #440381;
          & > ul {
            height: initial !important;
            width: initial !important;
          }
          ul {
            list-style-type: none;
            height: 0;
            width: 0;
            padding-left: 1em;
            margin: 0;
            overflow: hidden;

            li {
              //min-width: 320px;
              position: relative;
              a, i {
                font-size: 0.75em;
                color: white;
              }
              label {
                position: static;
              }

            }

          }
        }

      }
    }
    main {
      min-height: calc(100vh - 4.10625em);
      #content-wrapper {
        padding-top: $headerHeight;
        &[data-page-id="1" ] {
          padding-top: 0;
        }
        #snippet--breadcrumbs {
          font-size: 0.7em;
          .breadcrumb {
            border-radius: 0;
            padding: 0.75em 1em;
            margin-bottom: 0;
          }
        }
        #content {
          margin: 0 auto;
          padding: $contentPadding;
          //padding-top:
          width: $contentWidth;
          min-width: 320px;

          @media screen and(max-width: $firstMediaTag) {
            width: 100%;
            padding: 0.5em;
          }

          h1#default {
            font-size: 1.75em;
          }

          h1 {
            font-size: 1.75em;
          }
          h2 {
            font-size: 1.5em;
          }
          h3 {
            font-size: 1.325em;
          }
          h4 {
            font-size: 1.17em;
          }

          .btn {
            &.btn-close {

            }
            &.btn-info {

            }
            &.btn-primary {

            }
          }

          &[data-page-id="1"] {
            padding: 0;
            width: 100%;
            .home-box {
              width: 100%;
              height: 100%;
              padding: 2em (100vw - $contentWidth)/2;
              //padding: 30px (100vw - $contentWidth)/2;
              margin: 0 auto;
              display: flex;

              .home-box-content {
                width: 100%;
                padding: $contentPadding;

                @media screen and (max-width: $firstMediaTag) {
                  padding: 0;
                }
              }

              @media screen and (max-width: $firstMediaTag) {
                padding: 30px;
              }

              &#nadpis, &#heading {
                background: -webkit-linear-gradient(-45deg, #ec368d 33%, transparent 0%),
                linear-gradient(-45deg, #440381 100%, transparent 33%);
                background: -moz-linear-gradient(-45deg, #ec368d 33%, transparent 0%),
                linear-gradient(-45deg, #440381 100%, transparent 33%);
                background: linear-gradient(-45deg, #ec368d 33%, transparent 0%),
                linear-gradient(-45deg, #440381 100%, transparent 33%);

                min-height: 100vh; //0.1 + 2x0.25 + 1.5

                .home-box-content {
                  background-color: transparent;
                  color: #f5f6fa;
                  align-self: center;
                  justify-self: center;

                  h1 {
                    font-size: 2.5em;
                    @media screen and(max-width: $firstMediaTag) {
                      font-size: 11vw;
                    }
                  }
                  p {
                    @media screen and(max-width: $firstMediaTag) {
                      font-size: 6vw;
                    }
                  }
                }
              }

              &#proc, &#why {
                padding: 2em;

                @media screen and (max-width: $firstMediaTag) {
                  padding: 0.4em;
                }

                @media screen and (max-width: $secondMediaTag) {
                  padding: 0.4em 0;
                }
                .home-box-content {
                  > div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: stretch;
                    align-content: stretch;
                    .half-block {
                      display: flex;
                      flex-direction: row;
                      justify-content: stretch;
                      align-content: stretch;
                      flex-wrap: wrap;
                      overflow-wrap: break-word;
                      flex-grow: 1; /* important AF*/
                      flex-basis: 14.5em; /* this needs to be 1*card-basis + 2*card-margin */
                      .card {
                        flex: 1 13.5em;
                        margin: 0.5em;

                        @media screen and (max-width: $firstMediaTag) {
                          margin: 0.5em 0;
                        }

                        .icon {
                          text-align: center;
                          padding: 0.1em 0;
                          background-color: #440381;
                          color: #e6efe9;
                          font-size: 1.5em;
                        }
                        .content {
                          padding: 0.5em 1em;
                          @media screen and (max-width: $firstMediaTag) {
                            padding: 0.2em 0.6em;
                          }
                          h3 {
                            font-size: 1.2em;
                            color: #440381;
                            font-weight: 600;
                            margin-bottom: 0.2em;
                            text-align: center;
                          }
                          p {
                            font-size: 0.75em;
                            text-align: center;
                            margin-bottom: 0.2em;
                          }
                        }
                      }
                    }
                  }
                }
              }
              &#more-info, &#vice-info {
                $topBottomPadding: 0.5em;
                padding-bottom: $topBottomPadding;
                padding-top: $topBottomPadding;
                @media screen and (max-width: $secondMediaTag) {
                  padding: 0;

                  max-width: 100%;
                  height: auto;
                }
              }

              &#specifikace {
                flex-direction: column;
                padding: 4em 10px;
                .home-box-content {
                  padding: 10px 15vw;
                }
                a.link-image {
                  width: 100%;
                  img {
                    max-width: 100%;
                    margin: 50px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    footer {
      border-top: solid 0.1em #440381;
      #footer-content {
        margin: 0 auto;
        padding: $contentPadding;
        width: $contentWidth;
        p {
          margin: 0;
          button {
            font-size: 0.8em;
            i {
              vertical-align: middle;;
            }
          }

          #github-link {
            &:hover {
              text-decoration: none;
            }
          }
        }
        #languageSwitch {
          font-size: 0.7em;

          .language {
            display: block;
            &.active {
              font-weight: bold;
            }
          }
          button {
            color: #e63946;
            &.btn.btn-close {
              font-size: 0.75em;
              color: #e6efe9;
              background-color: #e63946;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 25em) {

  }

  //modern last
  /* use this instead of display:grid because of Edge - thank you, Microsoft*/
  @supports (grid-area: auto) {

  }
}