@import "default";

//use body to overwrite it in specific

//theme - styles that aren't specific to screen size and browser and stuff
body {
  header {

  }
}

html {

  /* inheritance */
  transition: 0.3s all linear;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: scroll;

  //mobile first
  body {
    header {
      input {
        display: none;
        &:checked ~ label > i#header-hide {
          display: initial;
        }
        &:not(:checked) ~ label > i#header-show {
          display: initial;
        }
        &:checked ~ nav {
          height: initial;
        }
      }
      label i#header-show, i#header-hide {
        display: none;
      }

      nav {
        overflow:hidden;
        height: 0;
      }
    }
  }

  //modern last
  /* use this instead of display:grid because of Edge - thank you, Microsoft*/
  @supports (grid-area: auto) {

  }
}