/*if just * was used, you could see the title and scripts xd lmao*/
body * {
  box-sizing: inherit;
  text-decoration: inherit;
  color: inherit;
  font-family: "Open Sans", "sans-serif";

  &:not(p, span, a) {
    display: block;
  }

  &:not(textarea) {
    transition: inherit;
  }

  textarea.oneline {
    resize: none;
  }

  #tabs {
    position: relative;
    // set height to be even for all tab groups
    min-height: 180px;
    display: block;
  }

  .tab {
    float: left;

    label.tab-label {
      cursor: pointer;

      font-size: 1.2em;
      border-radius: 5px 5px 0 0;
      padding: .5em 1em;
    }

    input[type=radio][name=tabgroup] {
      position: absolute;
      clip: rect(0, 0, 0, 0);

      &:focus + label {

      }

      &:checked ~ label {
        /*background: #c99;*/
      }

      &:checked ~ label ~ .tab-content {
        display: initial;
      }
    }
    .tab-content {
      display: none;
      border-radius: 0 5px 5px;
      padding: .5em 2em;
      position: absolute;
      width: 100%;
      top: 2em;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .center-all {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }

}
