{block content}
    //TODO show other translations
    {form pageEditForm}
        <ul class="admin-form-errors" n:formErrors></ul>
        <div id="form-main">
            {formContainer \FormFactory::PAGE_EDIT_LOCAL_CONTAINER}
                <div class="spacer">
                    {label FormFactory::PAGE_EDIT_TITLE_NAME}{input \FormFactory::PAGE_EDIT_TITLE_NAME}
                </div>
                <div class="spacer">
                    {label \FormFactory::PAGE_EDIT_URL_NAME}{input FormFactory::PAGE_EDIT_URL_NAME}
                    <span id="url-content-wrapper">{_"admin.page.edit.local.url.prelabel"}
                        : '/{$page->getLanguage()->getCode()}/<span
                                id="url-content" n:class="$page->isUrlGenerated() ? failure">{if $page->isUrlGenerated()}{_"admin.page.edit.local.url.check.isnt_checked"}{else}{$page->getCheckedUrl()}{/if}</span>'</span>
                </div>
                <div class="spacer">
                    {label FormFactory::PAGE_EDIT_DESCRIPTION_NAME}{input FormFactory::PAGE_EDIT_DESCRIPTION_NAME}
                </div>
                <div class="spacer">
                    {label FormFactory::PAGE_EDIT_CONTENT_NAME}{input FormFactory::PAGE_EDIT_CONTENT_NAME}
                </div>
            {/formContainer}
        </div>
        <div id="form-side">
            {formContainer \FormFactory::PAGE_EDIT_LOCAL_CONTAINER}
                <div class="spacer">
                    {label \FormFactory::PAGE_EDIT_LOCAL_VISIBILITY_NAME}{input \FormFactory::PAGE_EDIT_LOCAL_VISIBILITY_NAME}
                </div>
                <div class="spacer">
                    {label \FormFactory::PAGE_EDIT_IMAGE_NAME}{input \FormFactory::PAGE_EDIT_IMAGE_NAME}
                </div>
                <div class="spacer">
                    {end($this->global->formsStack)[\FormFactory::PAGE_EDIT_DISPLAY_BREADCRUMBS]->getLabelPart()}
                    {end($this->global->formsStack)[\FormFactory::PAGE_EDIT_DISPLAY_BREADCRUMBS]->getControlPart()}
                </div>
                <div class="spacer">
                    {end($this->global->formsStack)[\FormFactory::PAGE_EDIT_DISPLAY_TITLE_NAME]->getLabelPart()}
                    {end($this->global->formsStack)[\FormFactory::PAGE_EDIT_DISPLAY_TITLE_NAME]->getControlPart()}
                    {* prevent showing input inside label*}
                </div>
            {/formContainer}
            <div id="controls" class="spacer">
                {input submit}
                <a id="page-delete" class="btn btn-primary delete"
                   href="{plink Page:delete \adminModule\PagePresenter::ID_KEY=>$page->getGlobalId(),\adminModule\PagePresenter::LANGUAGE_KEY=>null}"
                data-prompt="{_"admin.page.edit.action.delete.confirm.text"}"
                data-confirm="{_"admin.page.edit.action.delete.confirm.yes"}"
                data-cancel="{_"admin.page.edit.action.delete.confirm.no"}">
                    <i class="fa fa-trash"></i>
                    {_"admin.page.edit.action.delete.label"}
                </a>
                <a id="page-visit" data-ajax="false" class="btn btn-primary visit"
                   href="{plink :front:Page:default \frontModule\PagePresenter::PARAM_URL=>$page->getUrl(),locale=>$page->getLanguage()->getCode()}"><i class="fa fa-eye"></i>
                    {_"admin.page.edit.action.visit"}
                </a>
            </div>
            <div class="spacer">
            {formContainer \FormFactory::PAGE_EDIT_GLOBAL_CONTAINER}
                {label FormFactory::PAGE_EDIT_GLOBAL_VISIBILITY_NAME}{input FormFactory::PAGE_EDIT_GLOBAL_VISIBILITY_NAME}
                {if $page->isPage()}{label FormFactory::PAGE_EDIT_PARENT_NAME}{input FormFactory::PAGE_EDIT_PARENT_NAME}{/if}
            {/formContainer}
            </div>
        </div>
    {/form}
    <script type="text/javascript">
        window.listOfShortcodeLinks = {$listOfShortcodeLinks};
        console.info(window.listOfShortcodeLinks);
        _stack.push(function (di) {
            jQuery(document).ready(function ($) {
                $("select").selectmenu();

                window.Nette.validators.{\FormFactory::PAGE_EDIT_URL_NAME|noescape}_rule1 = function (elem, args, val) {
                    var urlContent = $("#url-content");
                    urlContent.html({_"admin.page.edit.local.url.check.loading"})
                    urlContent.addClass('loading');
                    urlContent.removeClass('failure');
                    urlContent.removeClass('success');
                    $.ajax({
                        url: {plink Availability: \adminModule\AvailabilityPresenter::KEY=>\adminModule\AvailabilityPresenter::URL_KEY,\adminModule\AvailabilityPresenter::LANGUAGE=>$page->getLanguage()->getCode()},
                        data: {l}{\adminModule\AvailabilityPresenter::VALUE}:
                    val,{\adminModule\AvailabilityPresenter::ID}:{$page->getLocalId()},{\adminModule\AvailabilityPresenter::LANGUAGE}:{$page->getLanguage()->getCode()}{r},
                    success: function (r) {
                        urlContent.removeClass('loading');
                        if (r === false) {
                            di.getService('formLocator').getForm('frm-pageEditForm').trigger('error', {
                                element: elem,
                                message: args
                            });
                            urlContent.addClass('failure');
                            urlContent.html({_"admin.page.edit.local.url.check.failure"})
                        } else {
                            urlContent.addClass('success');
                            urlContent.html(val);
                        }
                    }
                ,
                    failure:function () {
                        urlContent.html({_"admin.page.edit.local.url.check.failure"})
                        urlContent.addClass('failure')
                    }
                })

                    return true;
                };
            })
        })
    </script>
    <div id="changes">
        TODO list changes
    </div>
{/block}