{block content}
    <div id="page-show">
        <div>
            {_"admin.page.show.filter.search.label"}:
            {form adminPageSearch}
                <ul class="admin-form-errors" n:formErrors></ul>
            {input search_query}
                <a id="search_cancel"
                   href="{plink this FormFactory::PAGE_SHOW_SEARCH_NAME=>null}"><i
                            class="fa fa-times"></i></a>
                {input submit}
            {/form}
        </div>
        <div id="type-links">
            {_"admin.page.show.filter.type.label"}:
            <ul>
                <li n:foreach="adminModule\PagePresenter::TYPES as $type_val">
                    <a class="{ifCurrent this adminModule\PagePresenter::TYPE_KEY=>$type_val}active{/ifCurrent}" n:href="this adminModule\PagePresenter::TYPE_KEY=>$type_val">
                        {_"admin.page.show.filter.type.$type_val"}
                    </a>
                </li>
            </ul>
        </div>
        <div id="statuses-links">
            {_"admin.page.show.filter.visibility.label"}:
            <ul>
                <li n:foreach="adminModule\PagePresenter::VISIBILITIES as $visibility_val">
                    <a class="{ifCurrent this adminModule\PagePresenter::VISIBILITY_KEY=>$visibility_val}active{/ifCurrent}"
                       href="{plink this adminModule\PagePresenter::VISIBILITY_KEY=>$visibility_val}">{_"admin.page.show.filter.visibility.$visibility_val"}</a>
                </li>
            </ul>
        </div>
        <div id="languages-links">
            {_"admin.page.show.filter.translation.label"}:
            <ul>
                <li>
                    <a class="{ifCurrent this adminModule\PagePresenter::LANGUAGE_KEY=>adminModule\PagePresenter::LANGUAGE_ALL}active{/ifCurrent}"
                       href="{plink this adminModule\PagePresenter::LANGUAGE_KEY=>adminModule\PagePresenter::LANGUAGE_ALL,adminModule\PagePresenter::HAS_TRANSLATION_KEY=>null,adminModule\PagePresenter::PAGE_KEY=>1}">
                        {_"admin.page.show.filter.translation.all"}
                    </a>
                </li>
                <li>
                    <div class="{if $has_translation === true}active{/if}">{_"admin.page.show.filter.translation.not_missing"}
                        &nbsp;
                        <div>
                            {foreach $languages as $lang}
                                <a class="{ifCurrent this adminModule\PagePresenter::HAS_TRANSLATION_KEY=>1,adminModule\PagePresenter::LANGUAGE_KEY=>$lang->getCode()}active{/ifCurrent}"
                                   href="{plink this adminModule\PagePresenter::LANGUAGE_KEY=>$lang->getCode(),adminModule\PagePresenter::HAS_TRANSLATION_KEY=>1,adminModule\PagePresenter::PAGE_KEY=>1}">
                                    {$lang->getCode()}
                                </a>
                            {/foreach}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="{if $has_translation === false}active{/if}">{_"admin.page.show.filter.translation.missing"}
                        &nbsp;
                        <div>
                            {foreach $languages as $lang}
                                <a
                                        class="{ifCurrent this adminModule\PagePresenter::HAS_TRANSLATION_KEY=>0,adminModule\PagePresenter::LANGUAGE_KEY=>$lang->getCode()}active{/ifCurrent}"
                                        href="{plink this adminModule\PagePresenter::LANGUAGE_KEY=>$lang->getCode(),adminModule\PagePresenter::HAS_TRANSLATION_KEY=>0,adminModule\PagePresenter::PAGE_KEY=>1}">
                                    {$lang->getCode()}
                                </a>
                            {/foreach}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            {_"admin.page.show.create.label"}
            {foreach adminModule\PagePresenter::TYPES as $type_val}
                {continueIf $type_val == adminModule\PagePresenter::TYPE_ALL}
                <a href="{plink create adminModule\PagePresenter::TYPE_KEY=>$type_val}"
                   class="create_new">{_"admin.page.show.create.{$type_val}"}</a>
            {/foreach}
        </div>
        <div id="pages">
            <a href="{plink this}">{_"admin.page.show.refresh"}</a>
            {if $results}
                <table>
                    <thead>
                    <tr>
                        <td>{_"admin.page.show.table.header.globalId"}</td>
                        <td>{_"admin.page.show.table.header.type"}</td>
                        <td>{_"admin.page.show.table.header.titles"}</td>
                        <td>{_"admin.page.show.table.header.edit"}</td>
                        <td>{_"admin.page.show.table.header.delete"}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $results as $globalId => $pages}
                        {dump $pages}
                        {dump count($pages)}
                        {foreach $pages as $page}
                            <tr>
                            {first}
                                <td rowspan="{count($pages)}">{$globalId}</td>
                                <td rowspan="{count($pages)}">{_"admin.page.show.table.body.type.{$page->getType()}"}</td>
                            {/first}
                            <td>{$page->getTitle()|truncate:25}</td>
                            <td><a class="action page-edit"
                                                            href="{plink edit adminModule\PagePresenter::ID_KEY=>$globalId,
                            adminModule\PagePresenter::EDIT_LANGUAGE_KEY=>$page->getLang()->getCode()}">{$page->getLang()->getCode()}</a>
                            </td>
                            <td><a class="action page-delete"
                                   href="{plink delete adminModule\PagePresenter::ID_KEY=>$globalId}">{_"admin.page.show.delete.label"}</a>
                            </td>
                            </tr>
                        {/foreach}
                    {/foreach}
                    </tbody>
                </table>
            {control paginator}
                <script>
                    _stack.push(function () {
                        jQuery(document).ready(function ($) {
                            $("a.page-delete.action").click(function (e) {
                                if (!window.confirm({_"admin.page.show.delete.confirm"}))
                                    e.preventDefault();
                            })
                        })
                    })
                </script>
            {else}
                {_"admin.page.show.not_found"}
            {/if}
        </div>
    </div>
{/block}