<!doctype html>
<html lang="{$locale}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>{$page_title}</title>
    <script type="application/javascript"> var _stack = []; </script>
    <link rel="stylesheet" type="text/css" href="/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="/libs/nittro/nittro.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext,latin-ext"
          rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous" defer></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous" defer></script>
    <script src="/node_modules/jquery-ui/ui/widget.js" type="application/javascript" defer></script>
    <script src="/node_modules/jquery-ui/ui/widgets/mouse.js" defer type="application/javascript"></script>
    <script src="/node_modules/jquery-ui/ui/widgets/sortable.js" type="application/javascript" defer></script>
    <script src="/node_modules/nestedSortable/jquery.mjs.nestedSortable.js" type="application/javascript"
            defer></script>
    <script type="application/javascript" src="/libs/nittro/nittro.min.js" defer></script>
    <link href="/node_modules/froala-editor/css/froala_editor.min.css" type="text/css">
    <link href="/node_modules/froala-editor/css/froala_editor.pkgd.min.css" type="text/css">
    <script src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js" type="application/javascript" defer></script>
    <script type="application/javascript" src="/js/admin.min.js" defer></script>
</head>
<body>
{ifset $isLoggin}{else}
    {control adminAdminBar}
    {control adminHeader}
{/ifset}
<div n:snippet="content" class="nittro-transition-bar nittro-transition-auto {$presenter}-{$action}">
    <h1 class="admin-title">{$title}</h1>
    {ifset $noSubtitle}{else}{if $page_subtitle}<h2 class="admin-subtitle">{$page_subtitle}</h2>{/if}{/ifset}
    <div n:snippet="flashes">
        {if $flashes}<a n:href="clearFlashes!">close flashes</a>{/if}
        <ul n:flashes></ul>
    </div>
    <div id="content">
        {include content}
    </div>
</div>
{ifset $isLoggin}{else}
    {control adminFooter}
{/ifset}
</body>
</html>