<!doctype html>
<html lang="{$locale}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>{$page_title} - {$admin} | {$site_title}</title>
    <link rel="stylesheet" type="text/css" href="/libs/nittro/nittro.min.css"/>
    <script type="application/javascript" src="/libs/nittro/nittro.min.js" async defer></script>
</head>
<body>
{ifset $isLoggin}{else}
    {control adminHeader}
{/ifset}
<main>
    {include content}
</main>
{ifset $isLoggin}{else}
    {control adminFooter}
{/ifset}
</body>
</html>