session:
    autoStart: yes
    cookieParth: '/'
    expiration: 10 days
    identity: UserIdentity

services:
    routerFactory: Router(%consoleMode%)
    router: @routerFactory::createRouter
    authenticator: AccountManager
    authorizator: UserAuthorizator
    - ServiceLoader
    - PageManager
    - FormFactory
    - LanguageManager
    - SettingsManager
    - TagManager
    - HeaderManager
    - FileManager
    - SliderManager

    #cacheStorage:
        #factory: Nette\Caching\Storages\NewMemcachedStorage
        #factory: Nette\Caching\Storages\SQLiteStorage("%tempDir%/cache/cache.s3db")
#application:
 #   mapping:
  #      admin: admin\presenter\*Presenter
   #     front: front\presenter\*Presenter

extensions:
    translation: Kdyby\Translation\DI\TranslationExtension

translation:
    debugger: on
    default: en_US

latte:
    macros:
        - Nittro\Bridges\NittroLatte\NittroMacros
