<header>
    <div id="header-opener" class="fa" class-close="fa-times" class-open="fa-arrow-right"></div>
    <nav>
        <ul>
            <li><a data-ajax="false" href="{plink ":front:NoLang:"}">{_"admin.header.siteHome"}</a></li>
            <li><a href="{plink "Home:"}">{_"admin.header.home"}</a></li>
            <li><a href="{plink "Page:"}">{_"admin.header.page"}</a></li>
            <li><a href="{plink "Header:"}">{_"admin.header.header"}</a></li>
            <li><a href="{plink "Presentation:"}">{_"admin.header.presentation"}</a></li>
            <li><a href="{plink "Media:"}">{_"admin.header.media"}</a></li>
            <li><a href="{plink "Language:"}">{_"admin.header.language"}</a></li>
            <li><a href="{plink "User:"}">{_"admin.header.user"}</a></li>
            <li><a href="{plink "Settings:"}">{_"admin.header.setting"}</a></li>
            <li><a href="{plink "Logout:"}">{_"admin.header.logout"}</a></li>
        </ul>
    </nav>
</header>