<header>
    <div id="header-opener" class="fa no-js" class-close="fa-times" class-open="fa-arrow-right"></div>
    <nav>
        <ul>
            {* TODO show only available for user *}
            <li><a href="{plink ":front:Page:Default"}">{_"admin.header.siteHome"}</a></li>
            <li><a href="{plink "Home:"}">{_"admin.header.home"}</a></li>
            <li><a href="{plink "Page:"}">{_"admin.header.page"}</a></li>
            <li><a href="{plink "Header:"}">{_"admin.header.header"}</a></li>
            <li><a href="{plink "Presentation:"}">{_"admin.header.presentation"}</a></li>
            <li><a href="{plink "Media:"}">{_"admin.header.home"}</a></li>
            <li><a href="{plink "Language:"}">{_"admin.header.language"}</a></li>
            <li><a href="{plink "Settings:"}">{_"admin.header.setting"}</a></li>
            <li><a href="{plink "Logout:"}">{_"admin.header.logout"}</a></li>
            <li><a href="{plink "Test:"}">Reset page tables</a></li>
        </ul>
    </nav>
</header>