<nav id="sidenav">
    <ul>
        <li><a href="{plink "Home:"}">{_"admin.header.home"}</a></li>
        <li><a href="{plink "Page:"}">{_"admin.header.page"}</a></li>
        <li><a href="{plink "Header:"}">{_"admin.header.header"}</a></li>
        <li><a href="{plink "Slider:"}">{_"admin.header.slider"}</a></li>
        <li><a href="{plink "File:"}">{_"admin.header.file"}</a></li>
        <li><a href="{plink "Language:"}">{_"admin.header.language"}</a></li>
        <li><a href="{plink "Accounts:"}">{_"admin.header.accounts"}</a></li>
        <li><a href="{plink "Settings:"}">{_"admin.header.setting"}</a></li>
    </ul>
</nav>