<div id="footer-content">
    <p style="text-align: right">
        <a id="github-link" href="https://github.com/2bad2furious/nette-pcv" target="_blank">
            <button class="btn">
                <i class="fa fa-github" aria-hidden="true"></i>
            </button>
        </a>
        <button class="btn" id="language-btn" data-toggle="modal" data-target="#languageSwitch">
            <i class="fa fa-globe" aria-hidden="true"></i>
        </button>
    </p>
    <div class="modal fade" id="languageSwitch" tabindex="-1" role="dialog"
         aria-labelledby="language switcher" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Change your language:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {foreach $languages as $language}
                        {var $otherTranslation = $page->getOtherTranslation($language->getId())}
                        <a class="language{if $language->getId() === $page->getLanguageId()} active{/if}"
                           href="{if $otherTranslation->is404() || !$otherTranslation->isVisible()}
{plink home locale=>$language->getCode()}{else}
{plink default locale=>$language->getCode(),\frontModule\PagePresenter::PARAM_URL=>$otherTranslation->getUrl()}{/if}"
                           data-ajax="false">
                            {$language->getFriendly()}
                        </a>
                    {/foreach}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>