{if $isLoggedIn}
    <div id="admin-header-bar">
        {if !$page->is404()}
            <a data-ajax="false"
               href="{plink :admin:Page:edit \adminModule\PagePresenter::ID_KEY=>$page->getGlobalId(),\adminModule\PagePresenter::EDIT_LANGUAGE_KEY=>$page->getLanguage()->getCode()}">
                <i class="fa fa-pencil-square-o"></i>
            </a>
        {else}
            {* flexbox reasons *}
            <span></span>
        {/if}
        <span>{$username}</span>
        <a href="{plink :admin:Logout:}">
            <i class="fa fa-power-off"></i>
        </a>
    </div>
{/if}
<header>
    <input id="header-toggle" type="checkbox">
    <label for="header-toggle">
        <i id="header-show" class="fa fa-bars"></i>
        <i id="header-hide" class="fa fa-times"></i>
    </label>
    <nav>
        {define header-children}
            <ul>
                {foreach $header as $h}
                    <li>
                        <a href="{$h->getUrl()}">{$h->getTitle()}</a>
                        {if $h->getChildren()}
                            {include header-children header=>$h->getChildren()}
                        {/if}
                    </li>
                {/foreach}
            </ul>
        {/define}
        {include header-children}
    </nav>
</header>