header:
    siteHome: "Back to the site"
    home: "Home"
    page: "Pages"
    header: "Header"
    file: "Files"
    slider: "Sliders"
    language: "Languages"
    setting: "Settings"
    accounts: "Accounts"
    logout: "Log Out"



    not_found: "Header link not found"
    moveLeft:
        cannot: "Cannot move this to the left"
    moveRight:
        cannot: "Cannot move this to the right"
    moveDown:
        cannot: "Cannot move this down"
    moveUp:
        cannot: "Cannot move this up"

    title: "Header Management"
    add:
        page:
            submit: "Add"
        custom:
            submit: "Add"
        type:
            page:
                label: "Page"
            custom:
                label: "Custom"
            switcher:
                label: "Type - page?"
    edit:
        success: "Page successfully edited"
        page:
            label: "Page"
        title:
            optional:
                label: "Custom title"
            required:
                label: "Title"
                required: "Title is required"
        url:
            label: "Url"
            pattern: "Url is not valid"
            required: "Url is required"

    default:
        add: "Add"
        custom:
            title: "Title"
            url: "Url"
        page:
            title: "Custom title"
            page: "Page"
        deleteSelf:
            confirm: "Are you sure? This will delete this link from header and move all its children to its place."
        deleteAll:
            confirm: "Are you sure? This will delete this page and all its descendants."
        filter:
            language: "Language"
        title: ""

home:
    default:
        title: ""
    title: "Hi :)"

top:
    page:
        edit:
            view: "Visit the page"
    go_home: "Visit homepage"

global:
    title: "Administration"
    page:
        no_title: "No title yet"

language:
    title: "Language managing"
    default:
        title: ""
        search:
            submit: "Search"
        id: "ID"
        code: "Code"
        friendly: "Friendly"
        edit: "Edit"
        delete:
            label: "Delete"
            confirm:
                 text: "Are you sure? This will delete this language and translations."
                 yes: "Delete"
                 no: "Cancel"
        add: "Add"
    edit:
        success: "Language edited."
        title: "Editing"
        friendly:
            label: "Friendly name"
            required: "Friendly name is required"
            length: "Friendly name must be at most %s characters long"
        site_title:
            label: "Site title"
            required: "Site title is required"
            length: "Site title must be at most %s characters long"
        separator:
            label: "Title separator (used between the page and site titles)"
            length: "Title separator must be at most %s characters long"
        ga:
            label: "Google Analytics code"
            length: "Google Analytics is at most %s characters long."
        logo:
            no: "No Logo"
            label: "Logo"
        favicon:
            no: "No Favicon"
            label: "Favicon - image in the browser tab"
        homepage:
            no: "No Homepage"
            label: "Homepage for this language"
        404:
            no: "No ErrorPage"
            label: "ErrorPage"
        submit: "Save"
        action:
            delete:
                label: "Delete language"
                confirm:
                     text: "Are you sure? This will delete this language and all translations."
                     yes: "Delete"
                     no: "Cancel"


login:
    title: "Admin Login"
    default:
        title: ""
    form:
        identification: "Email or Username"
        password: "Password"
        submit: "Log In"

    failure:
        password: "Incorrect combination of password and username."
    success: "You have been logged in. Heelo :)"


page:
    delete:
        success: "Page successfully deleted."
        not_found: "Page not found"
    title: "Page Managing"
    show:
        title: ""

        filter:
            search:
                label: "Search"
                submit: "Search"
                cancel: "Cancel the search"
            type:
                label: "By Type"
                all: "All"
                page: "Pages"
                post: "Posts"

            visibility:
                label: "By visibility"
                all: "All"
                public: "Public"
                draft: "Drafts"
                deleted: "Deleted"
                change: "Changes"

            translation:
                label: "By translation"
                missing:
                    label: "Missing translation"
                    all: "All missing"
                not_missing:
                    label: "Has translation"
                    all: "All having"
                all:
                    label: "All"

        table:
            header:
                globalId: "ID"
                titles: "Titles"
                type: "Type"
                language: "Language"
                edit: "Edit"
                delete: "Delete"
            body:
                no_title: "No title yet"
                type:
                    page: "Page"
                    post: "Post"
                    Section: "Section"
        create:
            label: "Create a new ..."
            page: "page"
            post: "post"
        regresh: "Refresh"
        visit: "View"
        delete:
            label: "Delete"
            confirm:
                text: "Are you sure? This will delete all translations of this page/post"
                yes: "Delete"
                no: "Cancel"


        not_found: "Pages not found"
    create:
        title: "Page Creation"

    edit:
        success: "Page edited"
        title: "Page Editing"
        not_found: "Page not found"
        global:
            parent:
                label: "Select a parent"
                no: "No parent"
            visibility:
                label: "Visibility of all translations"
                public: "Public"
                draft: "Draft"
            caption: "Global Settings (these settings apply for all translated pages as well)"
        local:
            caption: "Local Settings (these settings apply only for the translation)"
            title:
                 label: "Title"
                 required: "Title is required"
                 length: "Title needs to be at most %s characters long or shorter"
            url:
                check:
                    pattern: "Url must contain only characters A-Z, a-z, 0-9, '-' and '_'"
                    loading: "Checking availability..."
                    error_availability: "There is already a page with this url"
                    failure: "The url check is not available"
                    isnt_checked: " Waiting for you to fill it in :)"
                length: "Url must be at most %s characters long or shorter"
                prelabel: "The whole url looks like"
                label: "Url address"
                required: "Url is required"
            description:
                label: "Description - short summary"
                length_error: "Description must be at most %s characters long, ideally it should be about 150-160 characters long"
            visibility:
                label: "Visibility of this translation"
                public: "Public"
                draft: "Draft"
            content:
                "Page Body (Content)"
            image:
                no: "No image"
                label: "Select an appropriate image"
            display:
                title:
                    label: "Display title?"
                    yes: "Yes"
                    no: "No"
                breadcrumbs:
                    label: "Display breadcrumbs?"
                    yes: "Yes"
                    no: "No"
        action:
            delete:
                label: "Delete"
                confirm: "This will delete all translations of this page/post"
            edit: "Save"
            visit: "View the page"

settings:
    title: "Settings Managing"
    default:
        title: ""
    edit:
        language:
            label: "Default language"
        logo:
            no: "No logo"
            label: "Logo"
        title:
            label: ""

    clean:
        label: "Clean the caches"

logout:
    success: "You have been logged out."

paginator:
    label: "Page %page% of %all%"

accounts:
    title: "Account Managing"
    default:
        title: ""
        head:
            id: "ID"
            username: "Username"
            email: "Email"
            role: "Role"
            edit: "Edit"
            delete: "Delete"

        role:
            1: "User"
            2: "Drafter"
            3: "Publisher"
            4: "Admin"
            5: "Super Admin"


slider:
    title: "Slider Managing"
    add:
        title: "Add new"
    default:
        title: ""
        head:
            id: "ID"
            title: "Title"
            lang: "Language"
            edit: "Edit"
            delete: "Delete"
        add: "Add"

form:
    slider:
        add:
            title:
                label: "Title"
                required: "Title is required"
                length: "Title must at most %s characters long"
            lang:
                label: "Language"
                no: "No particular"
            submit: "Add"
