<input type="checkbox" id="type-switcher"
       class="no-ui"
       {if $formType === \adminModule\HeaderPresenter::TYPE_PAGE}checked{/if}
       data-on-text="{_"admin.header.add.type.page.label"}"
       data-off-text="{_"admin.header.add.type.custom.label"}">
<label for="type-switcher">{_"admin.header.add.type.switcher.label"}</label>
<div id="tab-page">
    {control headerPageAddForm}
</div>
<div id="tab-custom">
    {control headerCustomAddForm}
</div>