{block content}
    <style>
        .ui-sortable-placeholder {
            background: black;
        }
    </style>
    <div>Choose language:
        {foreach $languages as $lang}
            <a href="{plink this \adminModule\HeaderPresenter::LANGUAGE_KEY=>$lang->getCode()}"
               class="{ifCurrent this \adminModule\HeaderPresenter::LANGUAGE_KEY=>$lang->getCode()}active{/ifCurrent}">{_$lang->getCode()}</a>
        {/foreach}
    </div>
    {dump $header}
    <div>
        <div id="sortable-controls">
            <a n:href="add! 0" class="add">add</a>
        </div>
        {include 'header-items.latte' parent => $header}
    </div>
    <div id="header-edit-form-wrapper" class="{if $signal}active{/if}">
        <a id="edit-form-close" n:href="this do=>null,id=>null">close</a>
        <div n:snippet="edit-form">
            <div id="tabs" data-action="{$signal}" data-id="{$id}">
                {var editSnippetId = $control->getSnippetId("edit-form")}
                <script>{* need to run this everytime *}
                    _stack.push(function (di) {
                        jQuery().ready(function ($) {
                            di.getService("page").getSnippet({$editSnippetId}).setup(
                                function (elem) {
                                    var tabs = $(elem).find("#tabs");
                                    if (tabs.children().length)
                                        $("#header-edit-form-wrapper").addClass("active");
                                }).teardown(function () {
                                $("#header-edit-form-wrapper").removeClass("active")
                            });
                        });
                    });
                </script>
                {if $signal === "add"}
                    {include "add-form.latte" type=>$formType}
                {elseif $signal === "edit"}
                    {include "edit-form.latte" type=>$formType}
                {/if}
            </div>
        </div>
    </div>
    <script>
        _stack.push(function (di) {
            jQuery().ready(function ($) {
                var preventAndShow = function (event, id, action) {
                    var tabs = $("#tabs");
                    if (tabs.children().length &&
                        tabs.attr("data-id") === ("" + id) &&
                        tabs.attr("data-action") === action) {
                        event.preventDefault();
                        $("#header-edit-form-wrapper").addClass("active");
                    }
                };

                $("a#edit-form-close").click(function (e) {
                    e.preventDefault();
                    $("#header-edit-form-wrapper").removeClass("active")
                });

                $("#sortable-controls").find(".add").click(function (e) {
                    preventAndShow(e, 0, "add")
                });

                var nsSelector = "ol#{$control->getSnippetId("header-edit")|noescape}";
                $(nsSelector).nestedSortable({
                    toleranceElement: '> div',
                    placeholder: 'placeholder',
                    items: 'li',
                    isTree: true,
                    startCollapsed: false,
                    rootID: 0
                });

                var findLiParent = function (elem) {
                    console.info(elem.attr("data-id"));
                    return $("#menuItem_" + elem.attr("data-id"))
                };

                $(document).on("click", nsSelector + " li a.delete-self", function (e) {
                    e.preventDefault();
                    console.info("deleting self" + $(this))
                });

                $(nsSelector + " li a.delete-all").click(function (e) {
                    e.preventDefault();
                    console.info("deleting all" + $(this))
                });

                $(nsSelector + " li a.expand").click(function (e) {
                    findLiParent($(this)).toggleClass('mjs-nestedSortable-expanded').toggleClass('mjs-nestedSortable-collapsed')
                });

                $(nsSelector + " li a.add").click(function (e) {
                    preventAndShow(e, $(this).attr("data-id"), "add")
                });

                $(nsSelector + " li a.edit").click(function (e) {
                    preventAndShow(e, $(this).attr("data-id"), "edit")
                });

                $(nsSelector + " li a.moveUp").click(function (e) {
                    e.preventDefault();
                });

                $(nsSelector + " li a.moveDown").click(function (e) {
                    e.preventDefault();
                });
                $(nsSelector + " li a.moveLeft").click(function (e) {
                    e.preventDefault();
                });
                $(nsSelector + " li a.moveRight").click(function (e) {
                    e.preventDefault();
                })
            })
        })
    </script>
{/block}