<input type="checkbox" id="type-switcher"
       class="no-ui"
       data-state="{$formType === \adminModule\HeaderPresenter::TYPE_PAGE}"
       data-on-text="{_"admin.header.edit.type.page.label"}"
       data-off-text="{_"admin.header.edit.type.custom.label"}">
<label for="type-switcher">{_"admin.header.edit.type.switcher.label"}</label>
<div id="tab-page">
    {control headerPageEditForm}
</div>
<div id="tab-custom">
    {control headerCustomEditForm}
</div>